html{
  box-sizing: border-box;
}
.menu {
   
}

.header {
  padding: 20px 60px;
}
.countainer {
    max-width: 100% ;
    margin: 0 auto;
    padding: 0 auto;
    height: 25px ;
}

body{
  background-color: #C3D7E8 ;
  font-family: 14;
  font-weight: 400;
  margin: 0;
}
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}
.header_top{
  display: grid;
  grid-template-columns: 60px 100px 1fr auto;
  height: 100px;
}

.logo_photo img {
  height: 60px; 
  width: auto;
}

.logo_photo{
  grid-column: 1 ; 
  display: flex;     
  align-items: top;
  margin-top: -22px ;
  justify-self: start;
  margin-left: 0;

}
.logo{
  margin-left: -15px;
  grid-column: 2;
  align-self: flex-start;
  font-family: Roboto;
 font-style: normal;
 font-weight: 700;
 font-size: 17px;
 line-height: 16px;
 letter-spacing: 0.3em;
 color: #004C7A;

}

#menu-toggle {
  display: none;
}

.burger{
  display: none;
}

.menu{
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  color: #7897B2;
  text-decoration-line: underline;
}
.btn_top {
  background-color: #2d89ef;
  grid-column: 4/5;
  align-self: flex-end;
  transition: background-color .3s;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


}
.btn_top:hover {
  background-color: #257bd6;
 
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 130px;
  border-radius: 80px;
  color: white;
  background-color: #1C80F0;
  border: none;
  cursor: pointer;
  margin-top: -10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 250;
  font-size: 14px;
  line-height: 16px;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-left: 4px;
  font-weight: bold;
}


.countainer2 { 
  max-width: 1220px ; 
  margin: 0 ; 
  padding: 0; 
} 

.countainer_grid{ 
 display: grid; 
 grid-template-columns: 65px 300px 10px 260px 140px 100px 70px 90px 20px 95px 65px 12px;
 grid-template-rows: 60px 40px 125px 42px 34px 136px 54px 135px 36px 164px ; 
 height: 700px; 
 
} 


.center_img {
 z-index: 2;
 grid-column: 1 / 13;
 grid-row: 3 / 4;
margin-top: -42px;
justify-self: center;

}

.main_text {
 grid-column: 1 / 13;
 grid-row: 1 / 4;

    width:100%;
    height:100%;

width: 1200px;
height: 200px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 160px;
line-height: 188px;
display: flex;
justify-self: center;
align-self: center;
letter-spacing: 0.75em;

background: linear-gradient(180deg, #FFFFFF 35.1%, #C3D7E8 89.42%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


}

.central_block {
grid-column: 5 / 7;
grid-row: 4 / 5;

justify-self: end;
width: 140px;
height: 42px;

display: grid;
grid-template-columns: 5px 85px 1px 27px 3px 18px;
grid-template-rows: 8px 5px 9px 3px 5px 7px;

background: #FFFFFF;
border-radius: 60px;

}  

.left_img {
grid-column: 1 / 2;
grid-row:  2 / 5;

width: 85px;
height: 27px;
}

.color_blue {
  color: #4388CA;
}

.under_main {

grid-column: 3 / 5;
grid-row:  5;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 7.8px;
line-height: 9px;
display: flex;
align-items: center;
letter-spacing: 0.1em;

color: #969DA8;

}
.right_text {
  /* 7M+ */
grid-column: 3 / 4;
grid-row:  3;


width: 27px;
height: 9px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
letter-spacing: 0.05em;

color: #1F303E;
}

.left_block {

grid-column: 2 / 3;
grid-row:  5 / 6;
width: 205px;
height: 233px;

background: #FFFFFF;
border-radius: 0px 65px 0px 0px;
display: grid;
grid-template-columns: 22px 161px 21px ;
grid-template-rows: 135px 50px 34px ;
}

.left_earth {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  width: 300 ;
  height: 300 ;
  margin-left: -45px;
}

.left_txt {

grid-column: 2 / 3 ;
grid-row: 2 / 3 ;

width: 160px;
height: 12px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 3px;
letter-spacing: 0.02em;

color: #29465A;
}

.grey_l_txt{
color: #959DA9;
}

.main_blure1 {

z-index: 5;

grid-column: 1 / 13 ;
grid-row: 9 / 11 ;

background: rgba(210, 225, 239, 0.5);
backdrop-filter: blur(11px);

display: grid;
grid-template-columns: 65px 90px 223px 910px;
grid-template-rows: 5px 165px ;

}

.main_blure2 {

z-index: 4;

grid-column: 4 / 13 ;
grid-row: 7 / 9 ;

background: rgba(210, 225, 239, 0.5);
backdrop-filter: blur(11px);
border-radius: 20px 0px 0px 0px;
border-left: 3px solid white;


display: grid;
grid-template-columns: 229px 42px 229px 402px;
grid-template-rows: 170px ;
/* Note: backdrop-filter has minimal browser support */
}

.main_blure3 {

z-index: 6;

grid-column: 7 / 13 ;
grid-row: 5 / 7 ;

background: rgba(210, 225, 239, 0.5);
backdrop-filter: blur(11px);
border-radius: 20px 0px 0px 0px;
border-left: 3px solid white;



display: grid;
grid-template-columns: 217px 234px;
grid-template-rows: 5px 165px ;

}

.item_1 {

grid-column: 3 / 4 ;
grid-row: 1 / 3 ;

border-top: 3px solid white;
}

.item_2 {
z-index: 6;

grid-column: 1 / 4 ;
grid-row: 1 / 2 ;

border-top: 3px solid white;

border-radius: 17px 0px 0px 0px;
}

.item_3 {

grid-column: 1 / 2 ;
grid-row: 1 / 3 ;

border-top: 3px solid white;

border-radius: 17px 0px 0px 0px;
}

.right_detail {
  z-index:7;

  grid-column: 2 / 3 ;
  grid-row: 1 / 2 ;
  margin-top: -7px ;
}

.left_detail {
  z-index:7;

  grid-column: 2 / 3 ;
  grid-row: 1 / 2 ;
  margin-top: -7px ;
}

.central_detail {
  z-index: 7;

  grid-column: 2 / 3 ;
  grid-row: 1 / 2 ;
  margin-top: -20px ;
}

.card_ph {
  z-index: 7;

  grid-column: 7 / 12 ;
  grid-row: 6 / 7 ;

  display: flex;
  width: 280px;
  height: 200px;
  display: block;
}

.left_cut {
z-index: 6;

grid-column: 1 / 5 ;
grid-row: 10 / 11 ;

justify-self: start;
width: 442px;
height: 164px;


}
.right_cut {
z-index: 6;

grid-column: 6 / 14 ;
grid-row: 10 / 11 ;


width: 442px;
height: 164px;

justify-self: end;

}

.button_1 {
  /* Button 1 */
z-index: 7;
width: 152px;
height: 40px;

cursor: pointer;
grid-column: 1 / 13;
justify-self: center;
grid-row: 9 / 10 ;

background: #FFFFFF;
border-radius: 40px;
align-self: center;

}
.txt_u_b {
  /* Відкрити акаунт */

  z-index: 7;
padding-top: 5px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10.5px;
line-height: 12px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #2A3F50;

grid-column: 1 / 13;
justify-self: center;
grid-row: 9 / 10 ;

}

.arrow2{
display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding-left: 4px;
  font-weight: bold;
}

/* ШВИДКО НАДСИЛАЙ, ШВИДКО ОФОРМЛЮЙ */

.txt_under_bnt {
width: 340px;
height: 61px;

z-index: 7;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 27px;
line-height: 15px;
letter-spacing: 0.04em;
color: #FFFFFF;

grid-column: 1 / 13;
justify-self: center;
grid-row: 10 / 11 ;
}

.left_block_flex {
  z-index: 6;

grid-column: 1 / 5 ;
grid-row: 10 / 11 ;

justify-self: start;
width: 442px;
height: 164px;
}

.img_counteiner {
 padding-left: 94px ;
 padding-right: 283px ;
 padding-top: 38px ;
 display: flex;
 gap: 3px;
}

.img_f1 {
  width: 31px;
  height: 31px;
  flex-shrink: 0;
}
.img_f2 {
  width: 31px;
  height: 31px;
  flex-shrink: 0; 
}

.txt_flex_l {
  /* Payrot надає користувачам можливість надсилати та отримувати платежі по всьому світу */
width: 261px;
height: 48px;
padding-top: 37px;
padding-left: 94px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
/* or 138% */
display: flex;
align-items: center;

color: #6F8FA7;
}
.txt_flex_l2:hover{
  color: #3A5A73;
}

.txt_flex_l2 {
  /* НАШІ ПОСЛУГИ */
width: 100px;
height: 10px;

cursor: pointer;
transition: background-color .3s;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* or 138% */
display: flex;
align-items: center;
text-decoration-line: underline;

padding-top: 20px;
padding-left: 94px;

color: #284053;
}

.right_block_flex {
  z-index: 6;

grid-column: 6 / 14 ;
grid-row: 10 / 11 ;


width: 442px;
height: 164px;

justify-self: end;
}

.button_f1 {
display: flex;

box-sizing: border-box;

width: 110px;
height: 24px;

border: 1px solid #889299;
border-radius: 50px;

}

.button_o {
  display: flex;
  width: 110px;
  height: 24px;
  padding-left: 172px;
  padding-top: 39px;
}

.button_txt {
  /* ВСЬОГО ПЕРЕКАЗІВ */

padding-left: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 9px;
line-height: 18px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #344A5A;
}

/* Line 5 */

.line11{
width: 218px;
border: 1.5px solid #EFEFEF;
}

.line_style {
padding-top: 23px;
padding-left: 172px;
}

.txt_count {
  display: flex;
  padding-top: 18px;
  padding-left: 172px;
  gap: 16px;
}
.left_txt_r{
  /* 90M+ */


width: 124px;
height: 37px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 18px;
/* or 38% */
display: flex;


color: #3D85D5;
}
.left_txt_r2{
  /* Платежів оброблено з Payrot */


width: 79px;
height: 42px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* or 125% */
display: flex;
align-items: flex-end;

color: #6F8DA6;
}

.left_txt_last:hover{
  color: #3A5A73;
}

.left_txt_last{
  /* ПЕРГЛЯНУТИ СТАТИСТИКУ */

width: 158px;
height: 14px;

cursor: pointer;
transition: background-color s.3;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 18px;
/* or 164% */
display: flex;

text-decoration-line: underline;

color: #1C3141;

padding-left: 172px;
padding-top: 10px
}

.countainer3 {

  display: flex;
  max-width: 1257px ; 
  margin-top: 126px ; 
  padding: 0; 
  height: 400px;
  background-color: white;
}
.hand_mb_adapt{
  display: none;
}
.hand_cont{
  display: none;
}
.text_under_hand{
  display: none;
}
.text_content {
z-index: 2;
padding-left: 117px;
padding-top: 25px;
}

.maine_txt_1 {
  /* ВИПЛАЧУЙТЕ ЗАРПЛАТНЮ ПО ВСЬОМУ СВІТІ З PAYROT */


width: 383px;
height: 62px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 31px;
/* or 115% */

color: #13304A;


padding-top: 76px;

}

.first_txt_1{
  /* Payrot Workforce допомагає вам швидко, безпечнота без кордонів адаптуватися та оплачувати роботу фрілансерам або підрядникам у понад 150 країнах. */
width: 380px;
height: 60px;


/* Text secondary */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
align-self: start;
/* or 138% */

color: #6F8DA6;

padding-top: 50px;
}
.second_color {
  color: #13304A;
}

.second_txt_1:hover{
  color:#2F70AD ;
}

.second_txt_1 {
  /* ДІЗНАВАЙСЯ ПРО ІНСТРУМЕНТИ ДЛЯ ПРАЦІВНИКІВ */

width: 240px;
height: 10px;

cursor: pointer;
transition: background-color .3s;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 9.5px;
line-height: 18px;
/* or 189% */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #3984CA;

padding-top: 20px;
}

.photo_right_block {
  
}
.right_photo_2 {
  padding-left: 180px;
 
  height: 466px;
  width: 499px;

  display: flex;
  padding-top: 40px;
}

.countainer4 {
  display: grid;
  margin-left: 95px; 
  margin-right: 95px; 
  grid-template-columns:310px 422px 310px ;
  grid-template-rows: 130px 200px 100px 140px ;
}

.fon_W {
    background-color: white;
    max-width: 100%;

}

.earth_4 {
  grid-column: 2 / 3 ;
  grid-row: 1 / 2 ;
  display: flex;
  width: 380px;
  height: 380px;
  padding-right: 65px;
  justify-self: center;
}
.bg_4 {
  grid-column: 1 / 4 ;
  grid-row: 2 / 4 ;
}
.first_txt_4 {
  /* РОЗВИВАЙТЬСЯ ЗА МЕЖАМИ З PAYROT */

width: 460px;
height: 80px;

grid-column: 2 / 3 ;
grid-row: 3 / 4 ;

justify-self: center;
align-self: end;
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 41px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

padding-left: 38px;
margin: 0;
padding-bottom:0;
color: #FFFFFF;
}

.second_txt_4 {




width: 466px;
height: 30px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12.5px;
line-height: 17px;
/* or 136% */

color: #527795;




justify-self: center;

grid-column: 2 / 3 ;
grid-row: 4 / 5 ;

padding-left: 52px;
padding-top: 15px;
}

.button_2 {
z-index: 7;
width: 152px;
height: 40px;
transition: background-color .3s;
cursor: pointer;
 
/* Button 2 */

box-sizing: border-box;


border: 1.5px solid #FFFFFF;
border-radius: 40px;
}
.button_2:hover {
  background-color: #FFFFFF;
}

.btn_4 {
 grid-column: 2 / 3;
 justify-self: center;
 grid-row: 4 / 5; 
 padding-top: 73px;
}
.txt_btn_2{
  /* Дізнатись більше */
display: flex;
transition: background-color .3s;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;


letter-spacing: 0.05em;
text-transform: uppercase;


color: #FFFFFF;
padding-top: 14px;
padding-left: 10px;
}

.button_2:hover .txt_btn_2{
  color: #10324F;
}


.arrow3{
 display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: -1.5px;
  padding-left: 4px;
  font-weight: bold;
}
.countainer5 {
  padding-top: 100px;
  margin-left: 166px;
  margin-right: 166px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 450px 450px;
  grid-row: 300px 300px 300px;

}
.clients_mobile {
  display: none;
}
.main_text_4 {
  /* КОГО МИ ОБСЛУГОВУЄМО */


width: 512px;
height: 28px;


/* Blue title text

Stule for blue text which is title
*/
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;
display: flex;
align-items: center;

/* CFBT */
color: #0F3350;

justify-self: center;
grid-column: 1 / 3;
grid-row: 1;
}
.img_s5_1{
 border-radius: 23px;
 grid-column: 1 / 2;
 grid-row: 1 / 2;
 padding-top: 88px;
}

.countainer_txt_1 {
grid-column: 2 / 3;
grid-row: 1 / 2;
}

.first_txt_s5{
padding-left: 48px;
padding-top: 130px;
width: 178px;
height: 24px;


/* Punks of clients */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;

color: #16344C;

 grid-column: 2 / 3;
 grid-row: 1 / 2;
}
.second_txt_s5{
padding-top: 28px;
padding-left: 48px;

/* Попрощайтеся із затримками та складними системами. Payrot забезпечує простий, швидкий і надійний спосіб отримувати платежі з усього світу — без комісій за картки та з повним контролем над вашими коштами. */
width: 350px;
height: 66px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

align-items: center;

/* MTS */
color: #6F8DA6;

grid-column: 2 / 3;
grid-row: 1 / 2;
}
.third_txt_s5:hover {
 color: #2F70AD;
}

.third_txt_s5_2:hover {
 color: #2F70AD;
}

.third_txt_s5_3:hover {
 color: #2F70AD;
}
.first_txt_s5_3_adabt_768{
  display: none;
}
.third_txt_s5{
  padding-top: 25px;
  padding-left: 48px;
  cursor: pointer;
  transition: background-color .3s;

/* ОТРИМУЙ ПЛАТЕЖІ ШВИДКO */


/* style for text with line */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 9.5px;
line-height: 18px;
/* or 189% */

align-items: center;
text-decoration-line: underline;

/* TFL */
color: #3984CA;


grid-column: 2 / 3;
grid-row: 1 / 2;
}
.color_blue_s5{
 color: #13304A;
}

.img_s5_2 {
 grid-column: 2 / 3;
 grid-row: 2 / 3;
 padding-top: 30px;
}

.countainer_txt_2 {
grid-column: 1 / 2;
grid-row: 2 / 3;
}
.first_txt_s5_2{
/* Бізнесменам */

width: 178px;
height: 24px;
padding-top: 100px;

/* Punks of clients */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;

color: #16344C;


}
.second_txt_s5_2{
/* Незалежно від того, стартап ви чи вже сформована компанія, Payrot дозволяє проводити транзакції без зусиль і забезпечує організацію ваших фінансів, допомагаючи масштабуватися та керувати глобальними платежами. */


width: 350px;
height: 66px;
padding-top: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

align-items: center;

/* MTS */
color: #6F8DA6;


}
.third_txt_s5_2{
  /* ПОЧНІТЬ КЕРУВАТИ ПЛАТЕЖАМИ */

padding-top: 25px;
cursor: pointer;
transition: background-color .3s;

/* style for text with line */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 9.5px;
line-height: 18px;
/* or 189% */
display: flex;
align-items: center;
text-decoration-line: underline;

/* TFL */
color: #3984CA;

}

.img_s5_3{
grid-column: 1 / 2;
 grid-row: 3 / 4;
 padding-top: 30px;
}
.countainer_txt_3{
grid-column: 2 / 3;
grid-row: 3 / 4;
}
.first_txt_s5_3{
width: auto;
height: 24px;
padding-top: 100px;
padding-left: 48px;

/* Punks of clients */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;

color: #16344C;
}
.second_txt_s5_3{
width: 350px;
height: 66px;
padding-top: 28px;
padding-left: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

align-items: center;

/* MTS */
color: #6F8DA6;
}
.third_txt_s5_3{
  padding-top: 25px;
  padding-left: 48px;

  cursor: pointer;
  transition: background-color .3s;

/* style for text with line */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 9.5px;
line-height: 18px;
/* or 189% */
display: flex;
align-items: center;
text-decoration-line: underline;

/* TFL */
color: #3984CA;
}

.radius_5 {
  border-radius: 23px;
}

.countainer6 {
  /* Rectangle 170 */
display: grid;
grid-template-columns: 129px 832px 129px;
grid-template-rows: 183px 650px;

max-width: 100%;
height: 833px;

margin-left: 27px;
margin-right: 27px;

background: linear-gradient(297.92deg, #BFD4EB 35.77%, #DBE5ED 73.12%);

justify-content: center;
}
.first_txt_6 {
  /* ЗРУЧНИЙ МОБІЛЬНИЙ ДОДАТОК */


width: 500px;
height: 68px;

grid-column: 2 / 3;
grid-row: 1 / 2;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 34.9px;
line-height: 41px;
display: flex;
align-items: center;
text-align: center;

/* CFBT */
color: #0F3350;

justify-self: center;
padding-top: 70px;
}
.f_countainer{
  display: flex;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  column-gap: 26px;
  justify-self: center;
 
}

.countainer7 {
  display: grid;
  grid-template-columns: 1090px;
  grid-template-rows: 200px 222px 222px 222px 222px;
  margin-left: 88px;
  margin-right: 88px;
  max-width: 100%;
  justify-content: center;

}
.txt_c7_m {
  /* FEATURES */
width: 1070px;
height: 144px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 165px;
line-height: 193px;
letter-spacing: 0.23em;
justify-self: center;
padding-top: 15px;
padding-bottom: 18px;
z-index: 23;
grid-column: 1/2;
grid-row: 1/2;
background: linear-gradient(180deg, #B6CADA 0%, #F1F4F7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.hr_c7_1{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 1070px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
}
.part1_count7_001{
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self:flex-start ;
  align-self: center;
}
.part1_count7_m_txt{
/* ПОВНИЙ ДОСТУП ДО АККАУНТУ */


width: 500px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 43px;
/* or 108% */
padding-top: 74px;
padding-left: 101px;
align-items: center;

grid-column: 1/2;
grid-row: 2/3;

color: #12314F;
}
.part1_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 2/3;
padding-top: 83px;
padding-right: 220px;

color: #6483A0;
}

.button_circle_1:hover{
  background: #17496D;

}
.button_circle_2:hover{
  background: #8FB6DA;
}
.button_circle_3:hover{
  background: #8FB6DA;
}
.button_circle_4:hover{
  background: #8FB6DA;
}


.button_circle_1{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #10324F;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;

    justify-content: center; /* горизонталь */
    align-items: center; 
    
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
}


.button_circle_1:hover .arrow_c7{
  transform: rotate(50deg)
  scale(1.10);
}
.button_circle_2:hover .arrow_c7{
  transform: rotate(50deg)
  scale(1.10);
}
.button_circle_3:hover .arrow_c7{
  transform: rotate(50deg)
  scale(1.10);
}
.button_circle_4:hover .arrow_c7{
  transform: rotate(50deg)
  scale(1.10);
}

.arrow_c7 {
    width: 34px;
    height: auto;
    transition: transform 0.3s ease;
}

.hr_c7_2{
  grid-column: 1/2;
  grid-row: 2/3;
  width: 1070px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
}

.part2_count7_002{
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self:flex-start ;
  align-self: center;
}

.part2_count7_m_txt{


width: 500px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 43px;
padding-top: 74px;
padding-left: 101px;
align-items: center;

grid-column: 1/2;
grid-row: 3/4;

color: #12314F;
}

.part2_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 3/4;
padding-top: 83px;
padding-right: 220px;

color: #6483A0;
}



.button_circle_2{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #AACAE6;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;

    justify-content: center; /* горизонталь */
    align-items: center; 
    
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
}


.hr_c7_3{
  grid-column: 1/2;
  grid-row: 3/4;
  width: 1070px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
}

.part3_count7_003{
  grid-column: 1/2;
  grid-row: 4/5;
  justify-self:flex-start ;
  align-self: center;
}

.part3_count7_m_txt{


width: 500px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 43px;
padding-top: 74px;
padding-left: 101px;
align-items: center;

grid-column: 1/2;
grid-row: 4/5;

color: #12314F;
}

.part3_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 4/5;
padding-top: 83px;
padding-right: 220px;

color: #6483A0;
}



.button_circle_3{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #AACAE6;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;

    justify-content: center; /* горизонталь */
    align-items: center; 
    
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
}


.hr_c7_4{
  grid-column: 1/2;
  grid-row: 4/5;
  width: 1070px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
}

.part4_count7_004{
  grid-column: 1/2;
  grid-row: 5/6;
  justify-self:flex-start ;
  align-self: center;
}

.part4_count7_m_txt{


width: 500px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 43px;
padding-top: 74px;
padding-left: 101px;
align-items: center;

grid-column: 1/2;
grid-row: 5/6;

color: #12314F;
}

.part4_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 5/6;
padding-top: 83px;
padding-right: 220px;

color: #6483A0;
}



.button_circle_4{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #AACAE6;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;

    justify-content: center; /* горизонталь */  
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
}

.countainer8 {
   display: grid;
  grid-template-columns: 1090px;
  grid-template-rows: 220px 350px 290px;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 20px;
  max-width: 100%;
  justify-content: center;


}

.over_footer_group_8{
  width: 795px;
  height: 550px;
  border-radius: 30px;
  background: #C3D7E9;

  justify-self: center;
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

}

.of_txt_1{
  /* ЗАВАНТАЖТЕ ДОДАТОК НАДСИЛАТИ І ОТРИМУВАТИ ГРОШІ ПО ВСЬОМУ СВІТУ */
width: 576px;
height: 124px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 42px;
/* or 131% */

align-items: center;
text-align: center;
padding-top: 50px;
color: #12314D;
}

.of_ph_1{
  width: 180px;
  height: 180px;
  padding-top: 25px;
  display: flex;
}

.png_flex_group{
  display: flex;
  height: 35px;
  width: 242px;
  gap: 10px;
  padding-top: 32px;
}
.lb_8 {
  height: 35px;
  width: 116px;
}
.rb_8 {
  height: 35px;
  width: 116px;
}
.of_txt_2{
  /* Hamida Jannat */


width: 220px;
height: 40px;


font-family: 'Great Vibes';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;

color: #1F3F5B;

padding-top: 25px;
padding-left: 35px;
}

.footer_8{
  width: 1140px;
  height: 615px;
  background: #0B2740;
 
  justify-self: center;
  grid-column: 1/2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}
.txt_flex_group_footer{
  display: flex;
  height: 16px;
  width: auto;
  gap: 460px;
  padding-bottom: 80px;

}

.ft_txt_l{
 /* Дизайн від Хаміди Джанат */
width: 244px;
height: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 39px;
/* or 279% */



color: #A0BED6;
}
.ft_txt_r{
 width: 184px;
height: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 39px;
/* or 279% */


color: #A0BED6;
}

.main_footer_txt{
  /* PAYROT */

width: 900px;
height: 140px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 180px;
line-height: 211px;
display: flex;
align-items: center;
align-self: center;
letter-spacing: 0.18em;

background: linear-gradient(180deg, #2A4C67 0%, #13314B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
margin-bottom: -8px;
}

.group_1_s6{
  display: none;
}
.group_2_s6{
  display: none;
}
.main_lr{
  display: none;
}
.of_txt_1_adapt{
  display: none;
}