@media (max-width: 1200px){
    .header, .countainer2,.countainer3, .countainer4, .countainer5, .countainer6, .countainer7, .countainer8{
    max-width: 100%;
    padding: 20px;
}
.header_top{
  display: grid;
  grid-template-columns: 60px 100px minmax(0, 1fr) auto;
  height: 100px;
  max-width: 1050px;
}

.countainer2{
    transform: scale(0.912);
    transform-origin: top left;
    padding: 0px;
}

.main_blure3 {

z-index: 6;

grid-column: 7 / 13 ;
grid-row: 5 / 7 ;

background: rgba(210, 225, 239, 0.5);
backdrop-filter: blur(11px);
border-radius: 20px 0px 0px 0px;
border-left: 3px solid white;



display: grid;
grid-template-columns: 217px 130px;
grid-template-rows: 5px 165px ;
}

.main_blure2 {

z-index: 4;

grid-column: 4 / 13 ;
grid-row: 7 / 9 ;

background: rgba(210, 225, 239, 0.5);
backdrop-filter: blur(11px);
border-radius: 20px 0px 0px 0px;
border-left: 3px solid white;


display: grid;
grid-template-columns: 229px 42px 229px 347px;
grid-template-rows: 170px ;
/* Note: backdrop-filter has minimal browser support */
}

.main_blure1 {

z-index: 5;

grid-column: 1 / 13 ;
grid-row: 9 / 11 ;

background: rgba(210, 225, 239, 0.5);
backdrop-filter: blur(11px);

display: grid;
grid-template-columns: 65px 90px 223px 846px;
grid-template-rows: 5px 165px ;

}

.countainer3 {

  display: flex;
  max-width: 1257px ; 
  margin-top: 0px ; 
  padding: 0; 
  height: 400px;
  background-color: white;
}
.right_photo_2 {
  padding-left: 100px;
 
  height: 466px;
  width: 499px;

  display: flex;
  padding-top: 40px;
}
.text_content {
z-index: 2;
padding-left: 115px;
}
.countainer4 {
  display: grid;
  margin-left: 60px; 
  margin-right: 60px; 
  grid-template-columns:262px 432px 262px ;
  grid-template-rows: 130px 200px 100px 140px ;
}
.second_txt_4 {


width: 385px;
height: 30px;

display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 17px;
/* or 136% */

color: #527795;



justify-self: center;

grid-column: 2 / 3 ;
grid-row: 4 / 5 ;
padding-right: 56px;
padding-top: 6px;
}
.countainer5 {
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 450px 450px;
  grid-row: 300px 300px 300px;
}
.main_text_4{
  width: 512px;
}
.first_txt_s5_3_adabt_768{
  display: none;
}
.countainer6 {
  /* Rectangle 170 */
display: grid;
grid-template-columns: 50px 800px 50px;
grid-template-rows: 183px 650px;

max-width: 1024px;
height: 833px;

margin-left: 27px;
margin-right: 27px;

background: linear-gradient(297.92deg, #BFD4EB 35.77%, #DBE5ED 73.12%);

justify-content: center;
}

.countainer7 {
  display: grid;
  grid-template-columns: 990px;
  grid-template-rows: 200px 222px 222px 222px 222px;
  margin-left: 40px;
  margin-right: 88px;
  justify-content: center;
}

.txt_c7_m {
  /* FEATURES */
width: 1070px;
height: 144px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 165px;
line-height: 193px;
letter-spacing: 0.23em;
justify-self: center;
padding-top: 15px;
padding-bottom: 18px;
z-index: 23;
grid-column: 1/2;
grid-row: 1/2;
background: linear-gradient(180deg, #B6CADA 0%, #F1F4F7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.hr_c7_1{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 980px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 30px ;
}
.part1_count7_001{
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self:flex-start ;
  align-self: center;
}
.part1_count7_m_txt{
/* ПОВНИЙ ДОСТУП ДО АККАУНТУ */


width: 500px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 43px;
/* or 108% */
padding-top: 74px;
padding-left: 101px;
align-items: center;

grid-column: 1/2;
grid-row: 2/3;

color: #12314F;
}
.part1_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 2/3;
padding-top: 83px;
padding-right: 180px;

color: #6483A0;
}

.button_circle_1:hover{
  background: #17496D;

}
.button_circle_2:hover{
  background: #8FB6DA;
}
.button_circle_3:hover{
  background: #8FB6DA;
}
.button_circle_4:hover{
  background: #8FB6DA;
}

.center_img_adobt {
 display: none;
}


.button_circle_1{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #10324F;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;

    justify-content: center; /* горизонталь */
    align-items: center; 
    
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
    margin-right: 20px;
}


.button_circle_1:hover .arrow_c7{
  transform: rotate(50deg)
  scale(1.10);
}
.button_circle_2:hover .arrow_c7{
  transform: rotate(50deg)
  scale(1.10);
}
.button_circle_3:hover .arrow_c7{
  transform: rotate(50deg)
  scale(1.10);
}
.button_circle_4:hover .arrow_c7{
  transform: rotate(50deg)
  scale(1.10);
}

.arrow_c7 {
    width: 34px;
    height: auto;
    transition: transform 0.3s ease;
}

.hr_c7_2{
  grid-column: 1/2;
  grid-row: 2/3;
  width: 980px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 30px ;
}

.part2_count7_002{
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self:flex-start ;
  align-self: center;
}

.part2_count7_m_txt{


width: 500px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 43px;
padding-top: 74px;
padding-left: 101px;
align-items: center;

grid-column: 1/2;
grid-row: 3/4;

color: #12314F;
}

.part2_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 3/4;
padding-top: 83px;
padding-right: 180px;

color: #6483A0;
}



.button_circle_2{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #AACAE6;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;

    justify-content: center; /* горизонталь */
    align-items: center; 
    
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
    margin-right: 20px;
}


.hr_c7_3{
  grid-column: 1/2;
  grid-row: 3/4;
  width: 980px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
    margin-right: 30px ;
}

.part3_count7_003{
  grid-column: 1/2;
  grid-row: 4/5;
  justify-self:flex-start ;
  align-self: center;
}

.part3_count7_m_txt{


width: 500px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 43px;
padding-top: 74px;
padding-left: 101px;
align-items: center;

grid-column: 1/2;
grid-row: 4/5;

color: #12314F;
}

.part3_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 4/5;
padding-top: 83px;
padding-right: 180px;

color: #6483A0;
}



.button_circle_3{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #AACAE6;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;

    justify-content: center; /* горизонталь */
    align-items: center; 
    
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
    margin-right: 20px;
}


.hr_c7_4{
  grid-column: 1/2;
  grid-row: 4/5;
  width: 980px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 30px ;

}

.part4_count7_004{
  grid-column: 1/2;
  grid-row: 5/6;
  justify-self:flex-start ;
  align-self: center;
}

.part4_count7_m_txt{


width: 500px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 43px;
padding-top: 74px;
padding-left: 101px;
align-items: center;

grid-column: 1/2;
grid-row: 5/6;

color: #12314F;
}

.part4_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 5/6;
padding-top: 83px;
padding-right: 180px;

color: #6483A0;
}



.button_circle_4{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #AACAE6;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;

    justify-content: center; /* горизонталь */
    align-items: center; 
    
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
    margin-right: 20px;
}
.ft_txt_r{
width: 184px;
}
}


@media (max-width: 768px){
    .header, .countainer2,.countainer3, .countainer4, .countainer5, .countainer6, .countainer7, .countainer8{
    max-width: 100%;
    padding: 20px;
}
.card_ph {
  z-index: 7;

  grid-column: 7 / 12 ;
  grid-row: 6 / 7 ;

  display: flex;
  width: 280px;
  height: 200px;
  display: none;
}
.central_block {
display: none;
}  

.countainer2{
    transform: scale(0.626);
    transform-origin: top left;
    padding: 0px;
}

.logo_photo img {
  height: 75px; 
  width: auto;
}

.logo_photo{
  grid-column: 1 ; 
  display: flex;     
  align-items: top;
  margin-top: -13px ;
  justify-self: start;
  margin-left: 8;

}
.logo{
  margin-left: 0px;
  margin-top: 17px;
  grid-column: 2;
  align-self: flex-start;
  font-family: Roboto;
 font-style: normal;
 font-weight: 600;
 font-size: 21px;
 line-height: 16px;
 letter-spacing: 0.3em;
 color: #004C7A;
}


.center_img {
 z-index: 2;
 grid-column: 1 / 13;
 grid-row: 3 / 4;
margin-top: -42px;
justify-self: center;
display: none;
}
.center_img_adobt {
 z-index: 2;
 grid-column: 1 / 13;
 grid-row: 3 / 4;
margin-top: -120px;
justify-self: center;
display: flex;
padding-left: 70px;
height: 1475px;
}
.main_text {
    /* PAYROT */


width: 900px;
height: 120px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 150px;
line-height: 117px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.45em;

background: linear-gradient(180deg, #FFFFFF 35.1%, #C3D7E8 89.42%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


}


.countainer_grid{ 
 display: grid; 
 grid-template-columns: 65px 300px 10px 260px 140px 100px 70px 90px 20px 95px 65px 12px;
 grid-template-rows: 60px 40px 125px 160px 34px 136px 54px 135px 36px 164px ; 
 height: 700px; 
 
} 











.menu{
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 14px;
  color: #7897B2;
  display: none;
}
a{
  color: inherit;
  text-decoration: none;
  margin-left: -40px;
}


.btn_top {
    display: none;
}
.header_top {
    grid-template-columns: 60px 1fr 50px;
}
.burger {
    display: flex;
    grid-column: 3;
    grid-row: 1;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-right: 15px;

    width: 50px;
    height: 50px;
    cursor: pointer;
}
.burger span{
    width: 40px;
    height: 5px;
    border-radius: 15px;
    background-color: #004C7A;
    transition: transform 0.3s ease, opcity 0.2s ease;
    transform-origin: center;
}

#menu-toggle:checked ~ .menu {
    display: flex;

    position: absolute;
    top: 100px;
    right: 20px;

    flex-direction: column;
    gap: 20px;

    padding: 60px;
    width: 40px;
    height: 80px;

    background-color: white;
    border-radius: 15px;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);

    z-index: 100;
}

#menu-toggle:checked + .burger
span:nth-child(1) {
    transform: translateY(13px)
    rotate(45deg);
}
#menu-toggle:checked + .burger
span:nth-child(2) {
    transform: translateY(0px)
    rotate(-45deg);
}
#menu-toggle:checked + .burger
span:nth-child(3) {
    transform: translateY(-13px)
    rotate(-45deg);
}

.button_1 {
  /* Button 1 */
z-index: 7;
width: 220px;
height: 58px;

cursor: pointer;
grid-column: 1 / 13;
justify-self: center;
grid-row: 8 / 9 ;

background: #FFFFFF;
border-radius: 40px;
align-self: center;
margin-top: -50px;

}
.txt_u_b {
  /* Відкрити акаунт */

  z-index: 7;
padding-top: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 12px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #2A3F50;

grid-column: 1 / 13;
justify-self: center;
grid-row: 8 / 9 ;
margin-top: -50px;

}
.arrow2{
display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-left: 4px;
  font-weight: 700;
  padding-bottom: 5px;
}

.txt_under_bnt {
width: auto;
height: 61px;

z-index: 7;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 15px;
letter-spacing: 0.09em;
color: #FFFFFF;
padding-top: 90px;
padding-right: 15px;

grid-column:4 / 7;
justify-self: center;
grid-row: 8 / 11 ;
}
.left_block {

grid-column: 1 / 5;
grid-row:  4 / 8;
width: 305px;
height: 320px;

display: flex;
justify-self: center;
align-self: flex-end;
background: #FFFFFF;
border-radius: 0px 80px 0px 0px;
display: grid;
grid-template-columns: 33px 239px 31px ;
grid-template-rows: 185px 69px 46px ;
}
.left_earth {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  display: flex ;
  width:300px ;
  height: 300px ;
  margin-left: -45px;
  margin-top: 20px;
}

.left_txt {

grid-column: 2 / 3 ;
grid-row: 2 / 3 ;


width: auto;
height: 12px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 3px;
letter-spacing: 0.02em;

color: #29465A;
}
.left_cut {
z-index: 6;

grid-column: 1 / 5 ;
grid-row: 10 / 11 ;

justify-self: start;
width: 442px;
height: 164px;
margin-top: 2px;

}
.right_cut {
z-index: 6;

grid-column: 6 / 14 ;
grid-row: 10 / 11 ;


width: 442px;
height: 164px;

justify-self: end;
margin-top: 2px;
}
.countainer3 {

  display: flex;
 
  max-width: 770px ; 
  margin-top:-112px ; 
  padding: 0; 
  height: 400px;

  background-color: white;
  margin-left: 2px;
}


.text_content {
z-index: 2;
padding-left: 57px;
width: 375px;
}
.photo_right_block {
  width: 333px;
  height: 377px;
}
.right_photo_2 {
  padding-left: 0px;
 
  height: 300px;
  width: 333px;

  display: flex;
  padding-top: 40px;
  margin-right: 80px;
}
.maine_txt_1 {
  /* ВИПЛАЧУЙТЕ ЗАРПЛАТНЮ ПО ВСЬОМУ СВІТІ З PAYROT */


width: 383px;
height: 62px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 31px;
/* or 115% */

color: #13304A;


padding-top: 76px;

}

.first_txt_1{
  /* Payrot Workforce допомагає вам швидко, безпечнота без кордонів адаптуватися та оплачувати роботу фрілансерам або підрядникам у понад 150 країнах. */
width: 380px;
height: 60px;


/* Text secondary */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
align-self: start;
/* or 138% */

color: #6F8DA6;

padding-top: 50px;
}
.fon_W {
    background-color: white;
    width: 100%;
}
.countainer4 {
  display: grid;
  margin-left: 30px; 
  margin-right: 35px; 
  grid-template-columns:170px 320px 170px ;
  grid-template-rows: 130px 100px 100px 115px ;
  padding-top: 0px;
  margin-top:-30px;
}

.earth_4 {
  grid-column: 2 / 3 ;
  grid-row: 1 / 2 ;
  display: flex;
  width: 310px;
  height: 310px;
  padding-right: 65px;
  justify-self: center;
}
.first_txt_4 {
  /* РОЗВИВАЙТЬСЯ ЗА МЕЖАМИ З PAYROT */

width: 460px;
height: 80px;

grid-column: 2 / 3 ;
grid-row: 3 / 4 ;

justify-self: center;
align-self: end;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 32px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

padding-left: 130px;
margin: 0;
padding-bottom:0;
color: #FFFFFF;
}

.second_txt_4 {


width: 385px;
height: 30px;

display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 17px;
/* or 136% */

color: #527795;



justify-self: center;

grid-column: 2 / 3 ;
grid-row: 4 / 5 ;

padding-left: 75px;
padding-top: 0px;
}
.btn_4{
  padding-top: 54px;
}
.countainer5 {
  margin-left: 50px;
  margin-right: 90px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 320px 320px;
  grid-row: 300px 300px 300px;
}



.main_text_4{
  width: 510px;
}
.first_txt_s5{
padding-left: 20px;
padding-top: 140px;
width: 178px;
height: 33px;


/* Punks of clients */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;

color: #16344C;

 grid-column: 2 / 3;
 grid-row: 1 / 2;
}
.second_txt_s5{
padding-top: 12px;
padding-left: 20px;

/* Попрощайтеся із затримками та складними системами. Payrot забезпечує простий, швидкий і надійний спосіб отримувати платежі з усього світу — без комісій за картки та з повним контролем над вашими коштами. */
width: 295px;
height: 90px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

align-items: center;

/* MTS */
color: #6F8DA6;

grid-column: 2 / 3;
grid-row: 1 / 2;
}


.third_txt_s5{
  padding-top: 11px;
  padding-left: 20px;
  cursor: pointer;
  transition: background-color .3s;

/* ОТРИМУЙ ПЛАТЕЖІ ШВИДКO */


/* style for text with line */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 9.5px;
line-height: 18px;
/* or 189% */

align-items: center;
text-decoration-line: underline;

/* TFL */
color: #3984CA;


grid-column: 2 / 3;
grid-row: 1 / 2;
}
.first_txt_s5_2{
/* Бізнесменам */

width: 180px;
height: 24px;
padding-top: 93px;

/* Бізнесменам */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;

color: #16344C;
}
.second_txt_s5_2{
/* Незалежно від того, стартап ви чи вже сформована компанія, Payrot дозволяє проводити транзакції без зусиль і забезпечує організацію ваших фінансів, допомагаючи масштабуватися та керувати глобальними платежами. */


width: 312px;
height: 90px;
padding-top: 12px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

align-items: center;

/* MTS */
color: #6F8DA6;


}
.third_txt_s5_2{
  /* ПОЧНІТЬ КЕРУВАТИ ПЛАТЕЖАМИ */

padding-top: 11px;
cursor: pointer;
transition: background-color .3s;

/* style for text with line */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 9.5px;
line-height: 18px;
/* or 189% */
display: flex;
align-items: center;
text-decoration-line: underline;

/* TFL */
color: #3984CA;

}

.img_s5_3{
grid-column: 1 / 2;
 grid-row: 3 / 4;
 padding-top: 30px;
}
.countainer_txt_3{
grid-column: 2 / 3;
grid-row: 3 / 4;
}
.first_txt_s5_3_adabt_768{
  width: 308px;
height: 24px;
padding-top: 86px;
padding-left: 20px;


/* Торговельні платформи */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 32px;
display: flex;
align-items: center;

color: #16344C;


}
.first_txt_s5_3{
width: 306px;
height: 24px;
padding-top: 100px;
padding-left: 48px;

/* Punks of clients */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
display: flex;
align-items: center;

color: #16344C;
display: none;
}
.second_txt_s5_3{
width: 302px;
height: 90px;
padding-top: 12px;
padding-left: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

align-items: center;

/* MTS */
color: #6F8DA6;
}

.third_txt_s5_3{
  padding-top: 11px;
  padding-left: 20px;

  cursor: pointer;
  transition: background-color .3s;

/* style for text with line */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 9.5px;
line-height: 18px;
/* or 189% */
display: flex;
align-items: center;
text-decoration-line: underline;

/* TFL */
color: #3984CA;
}
.radius_5 {
  border-radius: 23px;
  height: 248px;
}
.countainer6 {
  /* Rectangle 170 */
display: grid;
grid-template-columns: 91px 586px 91px;
grid-template-rows: 150px 510px;

max-width: 100%;
height: 645px;

margin-left: 15px;
margin-right: 15px;

background: linear-gradient(297.92deg, #BFD4EB 35.77%, #DBE5ED 73.12%);

justify-content: center;
}
.first_txt_6 {
  /* ЗРУЧНИЙ МОБІЛЬНИЙ ДОДАТОК */


width: 500px;
height: 68px;

grid-column: 2 / 3;
grid-row: 1 / 2;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 34.9px;
line-height: 41px;
display: flex;
align-items: center;
text-align: center;

/* CFBT */
color: #0F3350;

justify-self: center;
padding-top: 45px;
}
.countainer7 {
  display: grid;
  grid-template-columns: 640px;
  grid-template-rows: 150px 222px 222px 222px 222px;
  margin-left: 88px;
  margin-right: 88px;
  max-width: 100%;
  justify-content: center;
}

.txt_c7_m {
 /* FEATURES */
width: 670px;
height: 117px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 111px;
line-height: 130px;
display: flex;
align-items: center;
letter-spacing: 0.15em;
padding-top: 15px;
padding-bottom: 18px;
z-index: 23;
grid-column: 1/2;
grid-row: 1/2;

background: linear-gradient(180deg, #B6CADA 0%, #F1F4F7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.hr_c7_1{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 640px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 10px;
}
.hr_c7_2{
  grid-column: 1/2;
  grid-row: 2/3;
  width: 640px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 10px;
}
.hr_c7_3{
  grid-column: 1/2;
  grid-row: 3/4;
  width: 640px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 10px;
}
.hr_c7_4{
  grid-column: 1/2;
  grid-row: 4/5;
  width: 640px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 10px;
}
.part1_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 2/3;
padding-top: 83px;
padding-right: 220px;

color: #6483A0;
display: none;
}
.part2_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 3/4;
padding-top: 83px;
padding-right: 220px;

color: #6483A0;
display: none;
}
.part3_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 4/5;
padding-top: 83px;
padding-right: 220px;

color: #6483A0;
display: none;
}
.part4_count7_s_txt{
  /* Отримуй платежі в доларах, евро,фунтах стерлінгів та інших валютах за реквізитами місцевого банку */


width: 232px;
height: 55px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;
justify-self:flex-end ;

grid-column: 1/2;
grid-row: 5/6;
padding-top: 83px;
padding-right: 220px;

color: #6483A0;
display: none;
}

.button_circle_1{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #10324F;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;

    justify-content: center; /* горизонталь */
    align-items: center; 
    
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
}

.button_circle_2{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #AACAE6;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;

    justify-content: center; /* горизонталь */
    align-items: center; 
    
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
}

.button_circle_3{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #AACAE6;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;

    justify-content: center; /* горизонталь */
    align-items: center; 
    
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
}

.button_circle_4{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #AACAE6;
    position: relative;
    transition: background-color .3s;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;

    justify-content: center; /* горизонталь */  
    align-items: center;
    justify-self:flex-end ;
    margin-top: 58px;
}
.part1_count7_m_txt{

width: 360.23px;
height: 86px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
/* or 119% */
display: flex;
align-items: center;
padding-top: 68px;
padding-left: 93px;


grid-column: 1/2;
grid-row: 2/3;

color: #12314F;
}
.part2_count7_m_txt{



width: 360.23px;
height: 86px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
/* or 119% */
display: flex;
align-items: center;
padding-top: 68px;
padding-left: 93px;


grid-column: 1/2;
grid-row: 3/4;

color: #12314F;
}
.part3_count7_m_txt{



width: 360.23px;
height: 86px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
/* or 119% */
display: flex;
align-items: center;
padding-top: 68px;
padding-left: 93px;


grid-column: 1/2;
grid-row: 4/5;

color: #12314F;
}
.part4_count7_m_txt{



width: 360.23px;
height: 86px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
/* or 119% */
display: flex;
align-items: center;
padding-top: 68px;
padding-left: 93px;

grid-column: 1/2;
grid-row: 5/6;

color: #12314F;
}

.part1_count7_001{
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self:flex-start ;
  align-self: center;
  display: flex;
  width: 56px;
  height: 30px;
}
.part2_count7_002{
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self:flex-start ;
  align-self: center;
  display: flex;
  width: 56px;
  height: 30px;
}
.part3_count7_003{
  grid-column: 1/2;
  grid-row: 4/5;
  justify-self:flex-start ;
  align-self: center;
  display: flex;
  width: 56px;
  height: 30px;
}
.part4_count7_004{
  grid-column: 1/2;
  grid-row: 5/6;
  justify-self:flex-start ;
  align-self: center;
  display: flex;
  width: 56px;
  height: 30px;
}
.countainer8 {
   display: grid;
  grid-template-columns: 768px;
  grid-template-rows: 220px 290px 250px;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 20px;
  max-width: 100%;
  justify-content: center;
}
.over_footer_group_8{
  width: 536px;
  height: 450px;
  border-radius: 30px;
  background: #C3D7E9;

  justify-self: center;
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

}

.of_txt_1{
  /* ЗАВАНТАЖТЕ ДОДАТОК НАДСИЛАТИ І ОТРИМУВАТИ ГРОШІ ПО ВСЬОМУ СВІТУ */
width: 426px;
height: 126px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 42px;
/* or 175% */
display: flex;
align-items: center;
text-align: center;


padding-top: 28px;
color: #12314D;
}

.of_ph_1{
  width: 145px;
  height: 145px;
  padding-top: 25px;
  display: flex;
}

.png_flex_group{
  display: flex;
  height: 33px;
  width: 220px;
  gap: 30px;
  padding-top: 20px;
}
.lb_8 {
  height: 33px;
  width: 95px;
}
.rb_8 {
  height: 33px;
  width: 95px;
}
.of_txt_2{

width: 176px;
height: 34px;

font-family: 'Great Vibes';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

color: #1F3F5B;

padding-top: 25px;
padding-left: 20px;
}

.footer_8{
  width: 768px;
  height: 540px;
  background: #0B2740;
 
  justify-self: center;
  grid-column: 1/2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}
.txt_flex_group_footer{
  display: flex;
  height: 15px;
  width: 640px;
  gap: 142px;
  padding-bottom: 65px;

}

.ft_txt_l{
/* Дизайн від Хаміди Джанат */

width: 396px;
height: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 39px;
/* identical to box height, or 300% */
display: flex;
align-items: center;

color: #A0BED6;


}
.ft_txt_r{
width: 226px;
height: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 39px;
/* identical to box height, or 279% */
display: flex;
align-items: center;

color: #A0BED6;
}

.main_footer_txt{
  /* PAYROT */

/* PAYROT */


width: 656px;
height: 144px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 130px;
line-height: 152px;
display: flex;
align-items: center;
align-self: center;
letter-spacing: 0.18em;

background: linear-gradient(180deg, #2A4C67 0%, #13314B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
padding-left: 25px;

margin-bottom: -8px;
}
}
@media (max-width: 360px){
    .header, .countainer2,.countainer3, .countainer4, .countainer5, .countainer6, .countainer7, .countainer8{
    max-width: 360;
    padding: 0 15px;
}
.left_block{
  display: none;
}
.left_block_flex{
  display: none;
}
.left_cut{
  display: none;
}
.right_cut{
  display: none;
}
.right_block_flex{
  display: none;
}
.countainer2{
    transform: scale(0.293);
    transform-origin: top left;
    padding: 0px;
}
.button_1 {
  /* Button 1 */
z-index: 7;
width: 255px;
height: 70px;

cursor: pointer;
grid-column: 1 / 13;
justify-self: center;
grid-row: 8 / 9 ;

background: #FFFFFF;
border-radius: 40px;
align-self: center;
margin-top: 0px;
}
.txt_u_b {
  /* Відкрити акаунт */

  z-index: 7;
padding-top: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 12px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #2A3F50;

grid-column: 1 / 13;
justify-self: center;
grid-row: 8 / 9 ;
margin-top: -5px;

}
.arrow2{
display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-left: 4px;
  font-weight: 700;
  padding-bottom: 0px;
}

.txt_under_bnt {
width: auto;
height: 61px;

z-index: 7;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 15px;
letter-spacing: 0.09em;
color: #FFFFFF;
padding-top: 146px;
padding-right: 15px;

grid-column:4 / 7;
justify-self: center;
grid-row: 8 / 11 ;
}



.text_content {
 display: none;
}
.maine_txt_1 {
 display: none;
}
.first_txt_1 {
 display: none;
}
.second_txt_1 {
 display: none;
}
.photo_right_block {
 display: none;
}
.right_photo_2 {
 display: none;
}
.header_top {
    grid-template-columns: 30px 1fr 50px;
    height: 30px;
}
.logo_photo img {
  height: 38px; 
  width: auto;
}
.logo_photo{
  grid-column: 1 ; 
  display: flex;     
  align-items: top;
  margin-top: -2px ;
  justify-self: center;
  align-items: center;
  margin-left: 8;
}
.logo{
  margin-left: 0px;
  margin-top: 11px;
  grid-column: 2;
  align-self: flex-start;
  font-family: Roboto;
 font-style: normal;
 font-weight: 600;
 font-size: 14px;
 line-height: 16px;
 letter-spacing: 0.25em;
 color: #004C7A;
}
.burger {
    display: flex;
    grid-column: 3;
    grid-row: 1;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-left: 26px;
    margin-top: 5px;

    width: 30px;
    height: 30px;
    cursor: pointer;
}
.burger span{
    width: 20px;
    height: 3px;
    border-radius: 15px;
    background-color: #004C7A;
    transition: transform 0.3s ease, opcity 0.2s ease;
    transform-origin: center;
}

#menu-toggle:checked ~ .menu {
    display: flex;

    position: absolute;
    top: 35px;
    right: 20px;

    flex-direction: column;
    gap: 20px;

    padding: 25px;
    width: 40px;
    height: 68px;

    background-color: white;
    border-radius: 15px;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);

    z-index: 100;
}

#menu-toggle:checked + .burger
span:nth-child(1) {
    transform: translateY(7px)
    rotate(45deg);
}
#menu-toggle:checked + .burger
span:nth-child(2) {
    transform: translateY(0px)
    rotate(-45deg);
}
#menu-toggle:checked + .burger
span:nth-child(3) {
    transform: translateY(-7px)
    rotate(-45deg);
}
.countainer3 {

  display: flex;
  
  margin-top:-426px ; 
  padding: 0; 
  height: 470px;

  background-color: white;
  margin-left: 2px;
}
.hand_mb_adapt{
  display: block;
  width: 359px;
  heigth:453px;
  padding: 0;
  margin-left: -1px;
}
.hand_mb_adapt img{
  width: 360px;
  heigth:453px;
}
.hand_cont{
  display: block;
}

.text_under_hand{

width: 220px;
height: 118px;

display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 34px;
/* or 113% */

color: #5882A2;
padding-left: 20px;
margin-top: -115px;
}
.darkblue_txt_h{
color: #183147;
}
.blue_txt_h{
text-decoration-line: underline;

color: #2881DC;
}
.countainer4{
  display: none;
}

.img_s5_1{
  display: none;
}
.img_s5_2{
  display: none;
}
.img_s5_3{
  display: none;
}
.countainer_txt_1{
  display: none;
}
.countainer_txt_2{
  display: none;
}
.countainer_txt_3{
  display: none;
}
.countainer5 {
  margin-left: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 320px;
  grid-row: 300px 300px 300px;
}
.main_text_4 {
  /* КОГО МИ ОБСЛУГОВУЄМО */

width: 300px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 23.5px;
line-height: 28px;
/* identical to box height */
display: flex;
align-items: center;

/* CFBT */
color: #0F3350;
padding-top: 30px;
margin-left: 0px;
padding-bottom: 20px;
}

.clients_mobile {
  display: block;
}
.clients_mobile input {
  display: none;
}
.service_title{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 0;

  border-top: 2px solid #e5e5e5;

  cursor: pointer;
}
.service_text{
  
  color:#10324F;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
/* identical to box height */
display: flex;
align-items: center;

color: #16344C;


}
.arrow_mb {
    position: relative;

    width: 22px;
    height: 20px;

    margin-right: 5px;
}

.arrow_mb::before,
.arrow_mb::after {
    content: "";

    position: absolute;
    top: 8px;

    width: 14px;
    height: 3px;

    background-color: #10324F;
    border-radius: 5px;

    transition: transform 0.3s ease;
}

.arrow_mb::before {
    left: 0;
    transform: rotate(45deg);
}

.arrow_mb::after {
    right: 0;
    transform: rotate(-45deg);
}
.service_info{
  max-height: 0;
  overflow: hidden;

  padding: 0;

  transition: max-height 0.4s ease, padding 0.4s ease ;


letter-spacing: 0.1em;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 14px;

/* MTS */
color: #6F8DA6;


}
.clients_mobile input:checked
+ .service_title + .service_info {
  max-height: 300px;
  padding: 5px 0 20px;
}
.clients_mobile input:checked + .service_title .arrow_mb::before {
    transform: rotate(-45deg);
}

.clients_mobile input:checked + .service_title .arrow_mb::after {
    transform: rotate(45deg);
}
.first_txt_6{
  display: none;
}
.f_countainer{
  display: none;
}

.countainer6 {
  /* Rectangle 170 */
display: grid;
grid-template-columns: 360px;
grid-template-rows: 100px 70px 550px;

max-width: 100%;
height: 700px;

margin-left: 27px;
margin-right: 27px;

background: white;

justify-content: center;
}

/* PAYROT */
.group_1_s6{
  display: flex;
  justify-self: center;
  width: 120px;
  height: 51px;
  align-self:center ;
  grid-column: 1;
  grid-row: 1;
}
.txt_group_1_s6{
display: block;
width: 77px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.25em;


color: #132D51;
align-self: center;
}
.img_group_1_s6{
display: block;
  width: 34px;
  height: 51px;
  
}
.group_2_s6{
  display: flex;
  width: 256px;
  height: 40px;
  align-items: center;
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
}

.img_group_2_s6 img{
width: 40px;
height: 40px;
}
.group_column_s6{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 107px;
}
.name_of_cr{
  /* Hamida Jannet */

width: 85px;
height: 12px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;

color: #04273C;
}
.code_of_cr{
/* #60DFG */

width: 82px;
height: 12px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;

color: #1F487B;
}
.icon_menu{
  width: 24px;
  height: 24px;
}
.main_lr{
  display: flex;
  width: 360px;
  height: 544px;
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  margin:0px;
}

.countainer7 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 130px 144px 144px 144px 144px;
  margin-left: 88px;
  margin-right: 88px;
  max-width: 100%;
  justify-content: center;
}

.button_circle_1{
  display: none;
}
.button_circle_2{
  display: none;
}
.button_circle_3{
  display: none;
}
.button_circle_4{
  display: none;
}





.part1_count7_m_txt{



width: 222px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* or 125% */

display: flex;
align-items: center;
padding-top: 35px;
padding-left: 70px;


grid-column: 1/2;
grid-row: 2/3;

color: #12314F;
}
.part2_count7_m_txt{



width: 222px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* or 125% */
display: flex;
align-items: center;
padding-top: 35px;
padding-left: 70px;


grid-column: 1/2;
grid-row: 3/4;

color: #12314F;
}
.part3_count7_m_txt{



width: 222px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* or 125% */
display: flex;
align-items: center;
padding-top: 35px;
padding-left: 70px;


grid-column: 1/2;
grid-row: 4/5;

color: #12314F;
}
.part4_count7_m_txt{



width: 222px;
height: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* or 125% */
/* or 119% */
display: flex;
align-items: center;
padding-top: 35px;
padding-left: 70px;

grid-column: 1/2;
grid-row: 5/6;

color: #12314F;
}
.txt_c7_m {
 /* FEATURES */

width: 300px;
height: 60px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 51px;
line-height: 60px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.15em;

background: linear-gradient(180deg, #B6CADA 0%, #F1F4F7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

padding-top: 15px;
padding-bottom: 18px;
z-index: 23;
grid-column: 1/2;
grid-row: 1/2;
}
.part1_count7_001{
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self:flex-start ;
  align-self: center;
  display: flex;
  width: 38px;
  height: 20px;
}
.part2_count7_002{
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self:flex-start ;
  align-self: center;
  display: flex;
  width: 38px;
  height: 20px;
}
.part3_count7_003{
  grid-column: 1/2;
  grid-row: 4/5;
  justify-self:flex-start ;
  align-self: center;
  display: flex;
  width: 38px;
  height: 20px;
}
.part4_count7_004{
  grid-column: 1/2;
  grid-row: 5/6;
  justify-self:flex-start ;
  align-self: center;
  display: flex;
  width: 38px;
  height: 20px;
}
.hr_c7_1{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 320px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 2px;
}
.hr_c7_2{
  grid-column: 1/2;
  grid-row: 2/3;
  width: 320px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 2px;
}
.hr_c7_3{
  grid-column: 1/2;
  grid-row: 3/4;
  width: 320px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 2px;
}
.hr_c7_4{
  grid-column: 1/2;
  grid-row: 4/5;
  width: 320px;
  justify-self:center ;
  align-self: flex-end;
  height: 3px;
  background-color: #F0F0F0;
  margin-right: 2px;
}

.countainer8 {
   display: grid;
   height: 400px;
  grid-template-columns: 320px;
  grid-template-rows: 250px;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 20px;
  max-width: 100%;
  justify-content: center;
}
.over_footer_group_8{
  /* Rectangle 162 */

width: 300px;
height: 252px;


background: #C3D7E9;
border-radius: 29px;

  margin-top: -240px;
  justify-self: center;
  grid-column: 1/2;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  
}
.of_txt_1{
  display: none;
}

.of_txt_1_adapt{

width: 188px;
height: 42px;


font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 42px;
/* identical to box height, or 280% */
display: flex;
align-items: center;
text-align: center;

color: #12314D;


padding-top: 11px;
color: #12314D;
}

.of_ph_1{
  width: 100px;
  height: 100px;
  padding-top: 0px;
  display: flex;
}

.png_flex_group{
  display: flex;
  height: 33px;
  width: 178px;
  gap: 38px;
  padding-top: 12px;
}
.lb_8 {
  height: 25px;
  width: 70px;
}
.rb_8 {
  height: 25px;
  width: 70px;
}
.of_txt_2{

/* Hamida Jannat */

width: 176px;
height: 34px;


font-family: 'Great Vibes';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 34px;

display: flex;
align-items: center;
text-align: center;

color: #1F3F5B;

padding-top: 9px;
padding-left: 20px;
}

.footer_8{
  width: 360px;
  height: 348px;
  margin-top: -300px;
  background: #0B2740;
  align-self: center;
  justify-self: center;
  grid-column: 1/2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


}
.txt_flex_group_footer{
  display: flex;
  height: 15px;
  width: 300px;
  gap: 86px;
  padding-bottom: 30px;

}

.ft_txt_l{
/* Дизайн від Хаміди Джанат */


width: 170px;
height: 15px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 7px;
line-height: 39px;

/* identical to box height, or 300% */
display: flex;
align-items: center;

color: #A0BED6;
}
.ft_txt_r{
width: 125px;
height: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 7px;
line-height: 39px;
/* identical to box height, or 279% */
display: flex;
align-items: center;

color: #A0BED6;
}

.main_footer_txt{
  /* PAYROT */

/* PAYROT */
display: none;


width: 656px;
height: 144px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 130px;
line-height: 152px;
align-items: center;
align-self: center;
letter-spacing: 0.18em;

background: linear-gradient(180deg, #2A4C67 0%, #13314B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
padding-left: 25px;

margin-bottom: -8px;
}

.menu{
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 6px;
  color: #7897B2;
  display: none;
}
a{
  color: inherit;
  text-decoration: none;
  margin-left: -15px;
}
}